.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
mock-ui
.agents
softdb.exe
.serena
.agent
dist
docs/plans
./dev.sh
vendor/
frontend/bindings
frontend/src/routeTree.gen.ts
soft-db.exe
